RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# JavaScript
#   Normalize to standard type (it's sniffed in IE anyways) 
#   tools.ietf.org/html/rfc4329#section-7.2
AddType application/javascript         js

# Audio
AddType audio/ogg                      oga ogg
AddType audio/mp4                      m4a

# Video
AddType video/ogg                      ogv
AddType video/mp4                      mp4 m4v
AddType video/webm                     webm

# SVG.
#   Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml              svg svgz 
AddEncoding gzip                       svgz
                                       
# Webfonts                             
AddType application/vnd.ms-fontobject  eot
AddType application/x-font-ttf    ttf ttc
AddType font/opentype                  otf
AddType application/x-font-woff        woff

# Assorted types                                      
AddType image/x-icon                   ico
AddType image/webp                     webp
AddType text/cache-manifest            appcache manifest


# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss .atom

# For IE, use CF if installed
#<IfModule mod_setenvif.c>
#  <IfModule mod_headers.c>
#    BrowserMatch chromeframe gcf
#    Header append X-UA-Compatible "ie=edge,chrome=1" env=gcf
#  </IfModule>
#</IfModule>

<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

# Force File Download with Apache
AddType application/octet-stream .jpg
AddType application/octet-stream .jpeg
AddType application/octet-stream .gif
AddType application/octet-stream .bmp
AddType application/octet-stream .tiff
AddType application/octet-stream .png
AddType application/octet-stream .doc
AddType application/octet-stream .docx
AddType application/octet-stream .xls
AddType application/octet-stream .xlsx
AddType application/octet-stream .txt
AddType application/octet-stream .pdf
AddType application/octet-stream .avi
AddType application/octet-stream .mpg
AddType application/octet-stream .mov
AddType application/octet-stream .mp4

# 404 Redirect to /notfound/ if controller or action does not exists
ErrorDocument 404 /notfound/

